In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [4]:
from google.colab import files
import pandas as pd
uploaded = files.upload()
df = pd.read_csv(next(iter(uploaded)))
df.head()

Saving Dataset of Diabetes .csv to Dataset of Diabetes .csv

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [5]:
from google.colab import files
import pandas as pd

# Upload CSV file manually from your computer
uploaded = files.upload()

# Read the uploaded CSV file
df1= pd.read_csv(next(iter(uploaded)))

# Display first few rows
df1.head()

Saving adult.csv.zip to adult.csv.zip

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [13]:
def handle_missing_values(df):
    df = df.replace("?", np.nan)

    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].fillna(df[col].mode()[0])
        else:
            df[col] = df[col].fillna(df[col].median())

    return df

In [7]:
def encode_categorical_columns(df):
    le = LabelEncoder()
    for col in df.select_dtypes(include=['object']).columns:
        df[col] = le.fit_transform(df[col])
    return df

In [8]:
def handle_outliers(df):
    numeric_cols = df.select_dtypes(include=np.number).columns

    for col in numeric_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1

        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR

        df[col] = np.clip(df[col], lower, upper)

    return df

In [9]:
def min_max_scaling(df):
    scaler = MinMaxScaler()
    numeric_cols = df.select_dtypes(include=np.number).columns
    df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
    return df

In [10]:
def standard_scaling(df):
    scaler = StandardScaler()
    numeric_cols = df.select_dtypes(include=np.number).columns
    df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
    return df

In [14]:
diabetes_cleaned =df.copy()

diabetes_cleaned = handle_missing_values(diabetes_cleaned)
diabetes_cleaned = handle_outliers(diabetes_cleaned)

# Scaling
diabetes_minmax = min_max_scaling(diabetes_cleaned.copy())
diabetes_standard = standard_scaling(diabetes_cleaned.copy())

print("Diabetes preprocessing completed")

Diabetes preprocessing completed

In [15]:
adult_cleaned =df1.copy()

adult_cleaned = handle_missing_values(adult_cleaned)
adult_cleaned = encode_categorical_columns(adult_cleaned)
adult_cleaned = handle_outliers(adult_cleaned)

# Scaling
adult_minmax = min_max_scaling(adult_cleaned.copy())
adult_standard = standard_scaling(adult_cleaned.copy())

print("Adult Income preprocessing completed")

Adult Income preprocessing completed

In [16]:
print("Diabetes (Min-Max Scaled):")
display(diabetes_minmax.head())

print("Adult Income (Standard Scaled):")
display(adult_standard.head())

Diabetes (Min-Max Scaled):

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,0.627034,0.231118,F,0.34375,0.500,0.355,0.266892,0.406250,0.127660,1.0000,0.209524,0.153846,0.204082,N
1,0.918648,0.441444,M,0.00000,0.475,0.515,0.266892,0.328125,0.234043,0.5000,0.342857,0.192308,0.163265,N
2,0.524406,0.619508,F,0.34375,0.500,0.355,0.266892,0.406250,0.127660,1.0000,0.209524,0.153846,0.204082,N
3,0.849812,1.000000,F,0.34375,0.500,0.355,0.266892,0.406250,0.127660,1.0000,0.209524,0.153846,0.204082,N
4,0.629537,0.441470,M,0.00000,0.800,0.355,0.266892,0.515625,0.148936,0.3125,0.323810,0.115385,0.081633,N

Adult Income (Standard Scaled):

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,-0.999145,0.0,0.419934,-1.901342,-1.270758,0.916138,-0.038505,0.971649,0.0,0.70422,0.0,0.0,-0.192863,0.0,0.0
1,-0.045382,0.0,-1.017089,0.127117,-0.456714,-0.410397,-0.542436,-0.900852,0.0,0.70422,0.0,0.0,1.424021,0.0,0.0
2,-0.779046,0.0,1.575412,-1.121165,0.764352,-0.410397,0.969357,-0.900852,0.0,0.70422,0.0,0.0,-0.192863,0.0,0.0
3,0.394816,0.0,-0.277440,1.375399,-0.049692,-0.410397,-0.038505,-0.900852,0.0,0.70422,0.0,0.0,-0.192863,0.0,0.0
4,-1.512710,0.0,-0.873553,1.375399,-0.049692,0.916138,0.717391,0.971649,0.0,-1.42001,0.0,0.0,-1.405526,0.0,0.0

In [18]:
print("Diabetes and Adult Dataset - Missing Values:")
print(df.isnull().sum())
print(df1.isnull().sum())

Diabetes and Adult Dataset - Missing Values:
ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64
age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [19]:
adult_df = df1.replace("?", np.nan)

print("\nAdult Income Dataset - Missing Values after replacing '?':")
print(adult_df.isnull().sum())

Adult Income Dataset - Missing Values after replacing '?':
age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [26]:

df = df.replace(0, np.nan)

In [28]:
print(df.isnull().sum())

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [22]:
for col in zero_cols:
    df[col] = df[col].fillna(df[col].median())

In [23]:
print(df.isnull().sum())

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [24]:
for col in adult_df.select_dtypes(include=['object']).columns:
    df1[col] = df1[col].fillna(df1[col].mode()[0])

In [25]:
print(df1.isnull().sum())

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [29]:
print("Diabetes Categorical Columns:")
print(df.select_dtypes(include='object').columns)

print("\nAdult Income Categorical Columns:")
print(df1.select_dtypes(include='object').columns)

# ------------------------------
# 2. Encode categorical columns
# ------------------------------

le = LabelEncoder()

# Diabetes Encoding
for col in df.select_dtypes(include='object').columns:
    df[col] = le.fit_transform(df[col])

# Adult Encoding
for col in df1.select_dtypes(include='object').columns:
    df1[col] = le.fit_transform(df1[col])

print("\nEncoding Completed Successfully!")

Diabetes Categorical Columns:
Index(['Gender', 'CLASS'], dtype='object')

Adult Income Categorical Columns:
Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country', 'income'],
      dtype='object')

Encoding Completed Successfully!